
<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item" href="/">Coder Volunteer</a>
    <a class="item" href="/organisations">Organisations</a>
    <a class="item" href="/volunteers">Volunteers</a>
    <div class="right menu">
      <div class="item"><% if current_org %>
      <%= current_org.email %>
      </div>
      <div class="item">
        <form action="/logout" method="post">
          <input type="hidden" value="delete" name="_method">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <button class="ui button">Logout</button>
        </form>
          <% end %>
      </div>
    </div>
  </div>
</div>


<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item" href="/">Code Volunteers</a>
  <a class="item" href="/organisations">Organisations</a>
  <a class="item" href="volunteers">Volunteers</a>
  <div class="item"><% if current_org %>
      <%= current_org.email %>
      </div>
      <div class="item">
        <form action="/logout" method="post">
          <input type="hidden" value="delete" name="_method">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <button class="ui button">Logout</button>
        </form>
          <% end %>
      </div>
</div>


<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item" href="/">Code Volunteers</a>
        <a class="item" href="/organisations">Organisations</a>
        <a class="item" href='/volunteers'>Volunteers</a>
        <div class="right item">
          <% if current_org %>
      <%= current_org.email %>
      <form action="/logout" method="post">
          <input type="hidden" value="delete" name="_method">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <button class="ui button">Logout</button>
        </form>
          <% end %>

        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        Volunteer Teaching Coding Abroad
      </h1>
      <h2>Breaking the cycle of poverty through education.</h2>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">We Help Communities Grow</h3>
          <p>We want to educate the disadvantaged in a evergreen skill set that will break the cycle of poverty.</p>
          <h3 class="ui header">Experience Culture While Coding</h3>
          <p>Volunteers can use their skill set to teach computing and coding around the world. Combine your holiday with unforgettable experiences and people.</p>
        </div>
        <div class="six wide right floated column">
          <img src="http://i.imgbox.com/jkrc7gIH.png" class="ui large bordered rounded image">
        </div>
      </div>
    </div>
  </div>


  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>Organisations</h3>
          <p>Get skilled volunteers to run a capsule program, teach skills that will break teh cycle of poverty and allow your community to enter a global economy.</p>
            <div class="row">
              <a class="ui huge button" href="organisations/signup">Organisation Sign Up</a>
            </div>
        </div>
        <div class="column">
          <h3>Volunteers</h3>
          <p>
            Use your skills to enrich the lives of others, while being a part of a community and travelling the world. Create a capsule project and take the lead in the education of others.
          </p>
          <div class="row">
            <a class="ui huge button" href="volunteers/signup">Volunteer Sign Up</a>
            </div>
        </div>
        </div>
      </div>
    </div>


  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Organisations</h4>
          <div class="ui inverted link list">
            <a href="/organisations/signup" class="item">Sign Up</a>
            <a href="/organisations/login" class="item">Login</a>
            <a href="/organisations/faqs" class="item">FAQs</a>
            <a href="/organisations" class="item">Browse All</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Volunteers</h4>
          <div class="ui inverted link list">
            <a href="/volunteers/signup" class="item">Sign Up</a>
            <a href="/volunteers/login" class="item">Login</a>
            <a href="/volunteers/faqs" class="item">FAQs</a>
            <a href="/volunteers/testimonials" class="item">Testimonials</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Our Mission</h4>
          <p>Breaking the cycle of poverty through current and continuious education.</p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>
        